.detail{
    display: flex;
    justify-content: space-between;
    border: 1px solid #EFF0F6;
    background: #EEE;
}

.upload{
border-radius: 20px;
background: #ADB5BD;
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.upload1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.ret{
    display: flex;
    width: 230px;
height: 67px;
border-radius: 25px;
background: #343A40;
text-align: center;
}
.Ret{
    color: #FFF;
font-family: Inter;
font-size: 26px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 55px;
padding-top:10px ;
}

img{
    max-width: 400px;
    max-height: 400px;
}